* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: gray;
}

.container {
	position: relative;
	width: 1920px;
	height: 699px;
	margin: 60px auto 0;
}

.container > input {
	display: none;
}

.captions {
	display: none;
}

.captions {
	font-family: 'Lato', sans-serif;
	font-size: 92px;
	font-weight: 900;
	text-transform: uppercase;	
	color: #fff;
}

.slider, .img {
	width: inherit;
	height: inherit;
}

.slider {
	background-color: #000;
	overflow: hidden;
	position: relative;
}

.img {
	position: absolute;
	opacity: 0;
	z-index: 0;
	transition: opacity .5s;
}

.img1 {
	background-image: url(img/slide1-bg.jpg);
}

.img2 {
	background-image: url(img/slide2-bg.jpg);
}

.img3 {
	background-image: url(img/slide3-bg.jpg);
}

.controls {
	position: absolute;
	bottom: -50px;
	left: 50%;
	margin-left: -55px; /*половина ширины элемента controls*/
}

.controls label {
	display: block;
	height: 10px;
	width: 30px;
	float: left;
	margin-right: 10px;
	background-color: #000;
	cursor: pointer;
	opacity: .2;
	transition: opacity .5s; /*Добавлет в лейблы плавный переход*/
}

.controls > label:hover {
	opacity: .8;
}

/* Выделяет лейбл выбранного слайда*/
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3) {
	opacity: .8;
}

#slide1:checked ~ .slider .img1,
#slide2:checked ~ .slider .img2,
#slide3:checked ~ .slider .img3 {
	opacity: 1;
	z-index: 1;
}

/*стили для кнопок*/
.side-controls label {
	position: absolute;
	display: block;
	height: 70px;
	width: 70px;
	background-color: #fff;
	cursor: pointer;


	z-index: 1;
	opacity: .2;

}

#slide1:checked ~ .side-controls label:nth-of-type(3),
#slide3:checked ~ .side-controls label:nth-of-type(2),
#slide2:checked ~ .side-controls label:nth-of-type(1) {
	border-left: 10px solid red;
	bottom: 35px;
	left: 20%;
}

#slide1:checked ~ .side-controls label:nth-of-type(2),
#slide2:checked ~ .side-controls label:nth-of-type(3),
#slide3:checked ~ .side-controls label:nth-of-type(1) {
	border-right: 10px solid red;
	bottom: 35px;
	left: 25%;
}


