* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: gray;
}

.container {
	position: relative;
	width: 1920px;
	height: 699px;
	margin: 60px auto 0;
}

.container > input {
	display: none;
}

.captions {
	display: none;
}

.captions {
	font-family: 'Lato', sans-serif;
	font-size: 92px;
	font-weight: 900;
	text-transform: uppercase;	
	color: #fff;
}

.slider, .img {
	width: inherit;
	height: inherit;
}

.slider {
	background-color: #000;
	overflow: hidden;
	position: relative;
}

.img {
	position: absolute;
	opacity: 0;
	z-index: 0;
}

.img1 {
	background-image: url(img/slide1-bg.jpg);
}

.img2 {
	background-image: url(img/slide2-bg.jpg);
}

.img3 {
	background-image: url(img/slide3-bg.jpg);
}

.controls {
	position: absolute;
	bottom: -50px;
	left: 50%;
	margin-left: -55px; /*половина ширины элемента controls*/
}

.controls > label {
	display: block;
	height: 10px;
	width: 30px;
	float: left;
	margin-right: 10px;
	background-color: #000;
	cursor: pointer;
	opacity: .2;
}

.controls > label:hover {
	opacity: 1;
}

#slide1:checked ~ .slider .img1,
#slide2:checked ~ .slider .img2,
#slide3:checked ~ .slider .img3 {
	opacity: 1;
	z-index: 1;
}