* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: gray;
}

.container {
	position: relative;
	width: 1920px;
	height: 699px;
	margin: 60px auto 0;
}

.container > input {
	display: none;
}

.captions {
	display: none;
}

.captions {
	font-family: 'Lato', sans-serif;
	font-size: 92px;
	font-weight: 900;
	text-transform: uppercase;	
	color: #fff;
}

.slider, .img {
	width: inherit;
	height: inherit;
}

.slider {
	background-color: #000;
	overflow: hidden;
	position: relative;
}

.img {
	position: absolute;
}

.img1 {
	background-image: url(img/slide1-bg.jpg);
}

.img2 {
	background-image: url();
}

.img3 {
	background-image: url();
}